/*----- GLOBAL STYLES -----*/
* {
    box-sizing: border-box;
}
body {
    background-color: var(--color-background);
    max-width: 1440px;
    margin: 0 auto;
}

:root {
/* =========================
    COLORS
  ========================== */

    --color-primary: #457b3b;
    --color-primary-dark: #3d6e35;
    --color-primary-light: #437d380d;

    --color-secondary: #d1e2d3;

    --color-error: #d64040;
    --color-error-dark: #bf3a3a;
    --color-error-light: #f8d7d7;

    --color-neutral: #2d312e;  

    --color-navigation: #f7faf5;

    --color-background: #ffffff;

    /* =========================
    TYPOGRAPHY
  ========================== */

    --font-family: sans-serif;

    --text-display: 32px;
    --text-h1: 28px;
    --text-h2: 20px;
    --text-body: 16px;
    --text-small: 14px;
    --text-xsmall: 11px;

    /*weight*/
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* line-height */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.7;

    /* letter-spacing */
    --letter-spacing-tight: -0.02em;
    --letter-spacing-normal: 0em;
    --letter-spacing-wide: 0.02em;

    /* =========================
    SPACING 
  ========================== */

    --space-1: 4px;
    --space-2: 8px;  
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;

    /* =========================
    BORDER RADIUS
  ========================== */

    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-pill: 999px;

    /* =========================
    BORDERS
  ========================== */

    --border-color: #e5e7eb;

    /* =========================
    SHADOWS
  ========================== */

    --shadow-sm: 0px 4px 12px rgba(0, 0, 0, 0.04);
    --shadow-md: 0px 10px 25px rgba(0, 0, 0, 0.05);

    /* =========================
    LAYOUT
  ========================== */

    --sidebar-width: 240px;
    --container-max-width: 1440px;

    /* =========================
    BREAKPOINTS
  ========================== */

    --bp-mobile: 600px;
    --bp-tablet: 1024px;

}